.dialog[open] {
	opacity: 1;
	transform: scale(1);
	background-color: #0b0c10;
}

.dialog::backdrop {
	background-color: #0b0c10;
}

.dialog {
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.3s ease-out, transform 0.3s ease-out,
		overlay 0.3s ease-out allow-discrete, display 0.3s ease-out allow-discrete;
}

@starting-style {
	.dialog[open] {
		opacity: 0;
		transform: scale(0);
	}
}
